- name: Deploy to tomcat
  hosts: web
  become: yes
  tasks:
    - name: Copy war file to tomcat
      copy:
        src: '/var/snap/jenkins/4865/workspace/mav_final_ext/target/maven_ansible.war'
        dest: '/opt/tomcat/webapps/maven_ansible.war'
        remote_src: no
    - name: Restart tomcat
      systemd:
        name: Tomcat
        state: restarted
